In [12]:
import pandas as pd

In [4]:
file_path = "gcs://football_datalake/Team_ids/pl_teams.csv"

In [13]:
df = pd.read_csv(file_path)

In [9]:
df.head()

   team_id          team_name
0       42            Arsenal
1       50    Manchester City
2       34   Newcastle United
3       47  Tottenham Hotspur
4       33  Manchester United

In [11]:
df.shape

(20, 2)

In [15]:
df["team_id"].values

array([42, 50, 34, 47, 33, 51, 49, 40, 36, 52, 55, 63, 66, 46, 48, 45, 35,
       41, 39, 65])

In [16]:
for i in df["team_id"].values:
    print(i)

42
50
34
47
33
51
49
40
36
52
55
63
66
46
48
45
35
41
39
65

In [17]:
import requests
import json

In [19]:
headers = {
    'x-rapidapi-host': 'v3.football.api-sports.io',
    'x-rapidapi-key':'535e2744ea7c3c2c8d3b38193243b94e'
}

In [21]:
url = f"https://v3.football.api-sports.io/teams"
response = requests.get(url, headers=headers, params={"id": 33})

In [22]:
response.text

'{"get":"teams","parameters":{"id":"33"},"errors":[],"results":1,"paging":{"current":1,"total":1},"response":[{"team":{"id":33,"name":"Manchester United","code":"MUN","country":"England","founded":1878,"national":false,"logo":"https:\\/\\/media.api-sports.io\\/football\\/teams\\/33.png"},"venue":{"id":556,"name":"Old Trafford","address":"Sir Matt Busby Way","city":"Manchester","capacity":76212,"surface":"grass","image":"https:\\/\\/media.api-sports.io\\/football\\/venues\\/556.png"}}]}'

In [23]:
response.json()

{'get': 'teams',
 'parameters': {'id': '33'},
 'errors': [],
 'results': 1,
 'paging': {'current': 1, 'total': 1},
 'response': [{'team': {'id': 33,
    'name': 'Manchester United',
    'code': 'MUN',
    'country': 'England',
    'founded': 1878,
    'national': False,
    'logo': 'https://media.api-sports.io/football/teams/33.png'},
   'venue': {'id': 556,
    'name': 'Old Trafford',
    'address': 'Sir Matt Busby Way',
    'city': 'Manchester',
    'capacity': 76212,
    'surface': 'grass',
    'image': 'https://media.api-sports.io/football/venues/556.png'}}]}

In [35]:
response = response.json()

In [53]:
venue = response['response'][0].get('venue')

In [57]:
venue.get("id")

556

In [31]:
df = pd.DataFrame(columns =["team_id", "team_name", "stadium", "capacity", "surface", "city", "current_coach"])

In [33]:
dic = {'team_id': 1, "team_name":"Arsenal", "stadium":"Emirates", "capacity": 60000, "surface":"grass", "city":"london", "current_coach":"Arteta"}

In [34]:
df.append(dic, ignore_index = True)

/tmp/ipykernel_6901/3912001189.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(dic, ignore_index = True)

  team_id team_name   stadium capacity surface    city current_coach
0       1   Arsenal  Emirates    60000   grass  london        Arteta

In [58]:
! pwd

/home/dotun/football-stats-pipeline

In [ ]:
df.to_csv(f"

In [28]:
df.append?

Signature:
df.append(
    other,
    ignore_index: 'bool' = False,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
) -> 'DataFrame'
Docstring:
Append rows of `other` to the end of caller, returning a new object.

.. deprecated:: 1.4.0
    Use :func:`concat` instead. For further details see
    :ref:`whatsnew_140.deprecations.frame_series_append`

Columns in `other` that are not in the caller are added as new columns.

Parameters
----------
other : DataFrame or Series/dict-like object, or list of these
    The data to append.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.
verify_integrity : bool, default False
    If True, raise ValueError on creating index with duplicates.
sort : bool, default False
    Sort columns if the columns of `self` and `other` are not aligned.

    .. versionchanged:: 1.0.0

        Changed to not sort by default.

Returns
-------
DataFrame
    A new DataFrame consisting of the rows of caller and the rows of `other`.

See Also
--------
concat : General function to concatenate DataFrame or Series objects.

Notes
-----
If a list of dict/series is passed and the keys are all contained in
the DataFrame's index, the order of the columns in the resulting
DataFrame will be unchanged.

Iteratively appending rows to a DataFrame can be more computationally
intensive than a single concatenate. A better solution is to append
those rows to a list and then concatenate the list with the original
DataFrame all at once.

Examples
--------
>>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
>>> df
   A  B
x  1  2
y  3  4
>>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
>>> df.append(df2)
   A  B
x  1  2
y  3  4
x  5  6
y  7  8

With `ignore_index` set to True:

>>> df.append(df2, ignore_index=True)
   A  B
0  1  2
1  3  4
2  5  6
3  7  8

The following, while not recommended methods for generating DataFrames,
show two ways to generate a DataFrame from multiple data sources.

Less efficient:

>>> df = pd.DataFrame(columns=['A'])
>>> for i in range(5):
...     df = df.append({'A': i}, ignore_index=True)
>>> df
   A
0  0
1  1
2  2
3  3
4  4

More efficient:

>>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
...           ignore_index=True)
   A
0  0
1  1
2  2
3  3
4  4
File:      ~/bin/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method